-r requirements.txt

ruff~=0.12.0
pytest-django~=0.2.0
django-debug-toolbar~=6.0.0
django-extensions~=4.1.0
Werkzeug~=3.1.0
factory-boy~=3.3.0
pre-commit~=4.3.0
pytest-cov~=6.2.0
pytest-mock~=3.14.0
freezegun~=1.5.0 